@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("/AlegreyaSans-Bold.woff2") format("woff2");
  /* url("/QwitcherGrypen-Regular.woff2") format("woff2"); */
  font-weight: 200;
}

/* @font-face {
  font-family: "CustomFont";
  src: url("/QwitcherGrypen-Bold.ttf") format("ttf"),
  url("/QwitcherGrypen-Bold.woff2") format("woff2");
  font-weight: 700;
} */

.font-new{
  font-family: CustomFont;
}